nav{
    width:100vw;
    position: fixed;
    top:0;
    right:0;
    left:0;
    height:10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: mediumpurple;
    color: #151b25;
    overflow:auto;
}

nav img{
    height:3rem;

}

