.game_image{
    cursor: url('../images/custom-cursor.svg') 50 50, auto;
}

.game_image img{

    height:100vh;
}

@media screen and (min-width: 1400px){
    .game_image img{
        width: 100vw;

    }
}