*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}



button,
button *,
button :after,
button :before,
button:after,
button:before {border: 0 solid;
    box-sizing: border-box;
}
button {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #e84040;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;

}
button:disabled {
    cursor: default;
}
button:-moz-focusring {
    outline: auto;
}
button svg {
    display: block;
    vertical-align: middle;

}
button [hidden] {
    display: none;
}
button {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
    transition: 0.3s;
}
button span {
    mix-blend-mode: difference;
}
button:before {

    -webkit-animation: bg-scroll 3s linear infinite;
    animation: bg-scroll 3s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    background: repeating-linear-gradient(
            45deg,
            hsla(0, 0%, 100%, 0.2),
            hsla(0, 0%, 100%, 0.2) 0.7%,
            transparent 0,
            transparent 4%
    );
    content: "";
    display: block;
    height: 300%;
    left: -100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s, background-color 0.2s;
    width: 300%;
}
button:hover:before {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    opacity: 1;

}
button:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
button:active:before {
    background-color: #fff;

}
@-webkit-keyframes bg-scroll {
    0% {
        transform: translateX(0);

    }
    to {
        transform: translateX(33%);
    }
}
@keyframes bg-scroll {
    0% {
        transform: translateX(0);
    }
    to {
        transform: translateX(33%);

    }
}